:root {
  --bg-color: #1f262e;
}

* {
  padding: 0;
  margin: 0;
}


body {
  background-color: var(--bg-color);
  color: white;
}

img,
canvas {
  width: 25rem;
  max-width: 90vw;
  height: auto;
}


button {
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.small {
  font-size: large;
}

#main {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  padding: 20px;
}

#header {
  justify-content: space-between;
  color: white;
  background-color: #101820FF;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  font-family: Roboto, sans-serif;
  padding: 0 0.5rem;
  height: 7vh;
}

#header-title {
  font-size: 2.5rem;
}

#contact svg,
#info svg {
  transition: .2s ease-in-out;
  height: 4vh;
}

#info:hover,
#contact:hover {
  cursor: pointer;
  color: #75cfd7;
}

#innerOverlay {
  background-color: white;
}

#album-cover {
  display: none;
}


#text {
  max-width: 50vw;
  font-size: 50px;
  color: black;
}


#timer {
  margin-top: 24px;
  margin-bottom: 10px;
}

#guessSection {
  display: none;
  margin-bottom: 20px;
}

#guessInput {
  padding: 5px 10px;
  margin-right: 10px;
  width: 20vw;
  height: 2rem;
}

#submitGuessButton,
#idk {
  background-color: #42A5F5;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

#idk {
  background-color: #545B64;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

#idk:hover {
  background-color: #3d3e42;
}

#mainButton {
  background-color: #2B2E30;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: .2s linear;
}


#overlay {
  color: white;
  background: rgba(0, 0, 0, .5);
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: .2s linear;
}

#overlay.is-open {
  visibility: visible;
  opacity: 1;
}

#overlay-dialog {
  position: relative;
  width: 35rem;
  height: 28rem;
  max-width: 90vw;
  max-height: 90vh;
  background-color: #333;
}

#close-button {
  cursor: pointer;
  position: absolute;
  color: white;
  height: 2rem;
  width: 2rem;
  right: 2%;
  top: 2%;
  border: solid white 0.2rem;
  border-radius: 100%;
  font-size: 2rem;
  transition: .2s ease;
}

#close-button:hover {
  color: lightblue;
  border-color: lightblue;
}

#overlay-hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

#overlay-title {
  font-size: 3rem;
  font-family: "Rubik", sans-serif;
}

#overlay-desc {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
}

#header-text {
  padding-top: 6%;
}

#overlay-body {
  font-family: "Roboto", sans-serif;
  padding: 10% 1rem;
  display: block;
  line-height: 1.5rem;
}

#play-now-button {
  border: 0.1rem solid #fff;
  bottom: 2.5%;
  transition: .2s ease-in-out;
}

#play-now-button:hover {
  background: transparent;
  color: #fff;
}


#loading-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  max-width: 100vw;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 5rem;
}